body {
    margin: 0;
    padding: 0;
}
nav {
    margin: 0;
    padding: 0;
    text-align: center;
    background: linear-gradient(35deg, teal 50%, black 95%);
    color: white;
}

nav h1 {
    margin: 0;
}

.container {
    display: flex;
    margin: 10px;
    padding: 10px;
    justify-content: space-between;
}

aside {
    display: flex;
    flex-direction: column;
    width: 25%;
   
}

main {
    width: 65%;
}

#current {
    
    background-color: cadetblue;
    padding: 5px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
}

#current img {
    width: 20%;

    margin-right: 20%;
}

#forecast {
    display: flex;
}

.card {
   background-color: cadetblue;
    width: 18%;
    margin: 5px;
    padding: 5px;
    color: white;
    border-radius: 8px;
}

button {
    background: teal;
    color: white;
    margin: 5px;
}

#history {
    display: flex ;
    flex-direction: column; 
    margin: 0 20px;
   
}
